.chat {
  display: flex;
  justify-content: center;
  background-color: rgba(49, 48, 48, 0.651);
}
.current-chat {
  font-size: 15px;
  padding: 1em 3em;
  background-color: var(--v-gray);
  text-align: center;
}
.chat .chats-container {
  position: fixed;
  top: 3.8em;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 30%;
  /* border: solid 1px var(--v-gray); */

  z-index: 999;
  background-color: var(--black);

  box-shadow: 0 1px 4px rgb(0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chat .chats-container .chat-box {
  border-bottom: solid 1px rgb(24, 24, 24);
  padding: 1em 3em;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat .chats-container .chat-box .chat-box-btn {
  z-index: 1000;
  border-radius: 5px;
  cursor: pointer;
}
.chat .chats-container .chat-box .chat-box-btn:hover {
  background-color: rgb(56, 55, 55);
}
.chat .chats-container .chat-box:hover {
  background-color: var(--v-gray);
  font-size: 15px;
}

.chat .chat-ts-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 0 15em 30%;
}

@media screen and (max-width: 900px) {
  .chat .chats-container {
    display: none;
  }
  .chat .chat-ts-container {
    margin: 5em 0 15em 0;
  }
}
