.summarizer-form {
  position: fixed;
  bottom: 0;
  left: 30%;
  right: 0;
  z-index: 9999;
  background-color: var(--v-gray);
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.summarizer-form .inputbtn {
  width: 100%;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}
.summarizer-form textarea {
  flex: 90%;
  max-height: 10vh;
  min-height: 10vh;
  border-radius: 5px;
  font-family: var(--font);
  padding: 0.5em 1em;
  font-size: 13px;
  font-weight: 400;
  outline: none;
}
.word-count {
  font-size: 12px;
}
.summarizer-form .features {
  display: flex;
}

.summarizer-form .features .lab-inp {
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em 1em 0.5em;
  justify-content: center;
  align-items: center;
}

.summarizer-form .features .lab-inp input {
  width: 40px;
  padding: 0.5em 1.2em;
  text-align: center;
  font-family: var(--font);
  font-weight: 400;
}

.summarizer-form .features .lab-inp select {
  outline: none;
  text-align: center;
  font-family: var(--font);
  font-weight: 600;
  padding: 0.5em;
}
.summarizer-form .features .lab-inp option {
  text-align: center;
  font-family: var(--font);
  font-weight: 400;
  padding: 0.5em;
}
.summarizer-form .features .lab-inp label {
  font-size: 13px;
  margin-bottom: 0.5em;
}

.summarizer-form .btn {
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: var(--white);
  padding: 0 0.5em;
  font-size: 35px;
  cursor: pointer;
}

.summarizer-form .btn:hover {
  background-color: rgb(32, 31, 31);
}

@media screen and (max-width: 900px) {
  .summarizer-form {
    left: 0;
  }
}
