.small-chat {
  background-color: rgb(32, 32, 32);
  font-size: 13px;
  font-weight: 400;
  width: 220px;
  padding: 1em;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s ease-out;
}

.small-chat:hover {
  background-color: var(--v-gray);
}
