.text-summary {
  padding: 1em;
  max-width: 700px;
}
.text-summary .text,
.text-summary .summary {
  padding: 0.5em;
  border: solid 1px var(--v-gray);
}

.text-summary .text {
  background-color: var(--v-gray);
}
.text-summary .summary {
}
