.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login .form-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.login .login-header {
  text-align: center;
}
.login .login-title {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}

.login .form-container .no-account {
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}

.login .form-container .no-account span {
  color: var(--blue);
}

.login .form-container .no-account span:hover {
  text-decoration: underline;
}

.login .form-container form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form-btn {
  align-self: flex-end;
  border: none;
  border-radius: 5px;
  background-color: rgb(41, 40, 40);
  color: var(--white);
  padding: 0.7em 0;

  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  width: 100px;
  cursor: pointer;
}

.form-btn:hover {
  background-color: rgba(41, 40, 40, 0.836);
}
