.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  box-shadow: 0 1px 4px rgb(0, 0, 0.1);
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  background-color: var(--black);
}

.navbar .nav-p1,
.navbar .nav-p2 {
  display: flex;
  gap: 1em;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}

.navbar .nav-logo {
  font-weight: 600;
  font-size: 14px;
}

.logout-btn {
  font-size: 13px;
  padding: 0.5em 1em;
  width: fit-content;
}

.logout-btn:hover {
}

.link:hover {
  font-weight: 600;
}
