@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid var(--white); /* Light grey */
  border-top: 10px solid var(--black); /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}
