@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --black: #0f0f0f;
  --white: #dddcdc;
  --light-gray: rgb(161, 156, 156);
  --gray: rgb(172, 169, 169);
  --font: "Montserrat", sans-serif;
  --v-gray: rgb(46, 46, 46);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--white);
  background-color: var(--black);
}

a {
  text-decoration: none !important ;
  color: var(--white);
}

input {
  outline: none;
}

/**_____________________________________________________________________________________*/
/* ScrollBar.css */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-gray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(211, 211, 211, 0.411);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lightgrey;
}
